$dot-size: 15px;
$dot-spacing: 5px;
$dot-active-color: #0d7377;

.slider-container {
  position: relative;
  overflow: hidden;

  .slider {
    display: flex;
    width: 100%;
    transition: transform 1s;

    img {
      flex-shrink: 0;
      width: 100%;
      height: 420px;
      object-fit: cover;
    }
    @media (max-width: 1250px) {
      img {
        width: 100%;
        object-fit: cover;
        height: 420px;
      }
    }
  }

  .dots-container {
    text-align: center;
    margin-top: -40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    .dot {
      display: inline-block;
      width: $dot-size;
      height: $dot-size;
      border-radius: 50%;
      background-color: white;
      margin: 0 $dot-spacing;
      cursor: pointer;

      &.active {
        background-color: $dot-active-color;
      }
    }
  }
}
