.loginContainer {
  position: fixed;
  width: 100%;
  height: 10000px;
  background-color: #000000e1;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .loginDiv {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid white;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    .loginTitleDiv {
      width: 100%;
      height: 70px;
      background-color: #212121;
      padding-top: 1px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      display: flex;
      align-items: center;
      position: relative;
      h1 {
        padding-left: 2rem;
      }
      button {
        position: absolute;
        right: -20px;
        top: -20px;
        border: 1px solid white;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .inputsDiv {
      width: 100%;
      height: 125px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      padding-top: 2rem;
      p {
        color: black;
        width: 80%;
        margin-top: -20px;
      }
      input {
        width: 80%;
        border: none;
        border-bottom: 1px solid gray;
        &:focus {
          outline: none;
        }
      }
      .checkboxDiv {
        width: 80%;
        display: flex;
        justify-content: baseline;
        align-items: center;

        margin-left: -15px;
        margin-top: -15px;
        input {
          width: 20px;
        }
        p {
          padding-top: 2rem;
        }
      }
    }
    .regInputsDiv {
      height: 200px;
    }
    .buttonsDiv {
      width: 80%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding-bottom: 1rem;
      .registerButtonContainer {
        display: flex;
        color: black;
        gap: 4px;
        .registerButton {
          transition: color 0.25s ease;
        }
        .registerButton:hover {
          color: rgb(6, 4, 119);
          cursor: pointer;
        }
      }
      .regButton {
        padding: 1rem;
        background-color: white;
        border: 1px solid #ffcc00;
        border-radius: 10px;
        cursor: pointer;
        width: 35%;
        overflow: hidden;
      }
      .loginButton {
        padding: 1rem;
        background-color: #ffcc00;
        width: 35%;
        color: black;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .threeDots {
          width: 80px;
          height: 1rem;
        }
      }
    }
  }
}
