$primary-color: #212121;
$secondary-color: #212121;
$scrollbar-track-color: #0d7477;
$scrollbar-thumb-color: #29b5b9;
$scrollbar-thumb-hover-color: #4be7e7;
.navbar {
  $navbar-width: 1250px;
  $navbar-height: 60px;

  width: $navbar-width;
  height: $navbar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .searchBarDiv {
    width: 30%;
    position: relative;
    z-index: 100;
    .searchBar {
      z-index: 200000000000000;
      position: relative;
      width: 100%;
      .searchInput {
        background-color: #0d7477;
        color: white;
        border: none;
        height: 1.5rem;
        padding-left: 1rem;
        width: calc(100% - 1rem);
        border-radius: 20px;
        color: white;
      }
    }

    .gameResults {
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      z-index: 10000 !important;
      width: 100%;
      height: 200px;
      background-color: #0d7477;
      border-radius: 20px;
      .gameItem:hover {
        background-color: #16bac0;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: white;
      }
      &:active {
        cursor: grabbing;
      }

      &::-webkit-scrollbar {
        width: 0.6rem;
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar-track {
        background-color: $scrollbar-track-color;
        border-radius: 0.3rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-color;
        border-radius: 0.3rem;
        width: 100px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-thumb-hover-color;
      }
    }
  }

  .logo {
    width: 130px;
    height: 50px;
  }

  .slotSvg {
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(15deg)
      brightness(116%) contrast(114%);
  }

  .allGamesDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (max-width: 1250px) {
      display: none;
    }
  }

  .pHover {
    color: white;
    font-weight: bold;
    transition: all 0.15s ease-in;
    border: none;

    background-color: transparent;

    &:hover {
      color: $primary-color;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .registerDiv {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 1250px) {
      display: none;
    }
  }

  .regBtn {
    border: 1px solid #0d7377;
    cursor: pointer;
    background-color: $primary-color;
    width: 6rem;
    height: 2.5rem;
    border-radius: 10px;
    color: white;
  }

  .mobileMenu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 1rem;
    gap: 2rem;
    .menuIcon {
      color: white;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      .menuIcon {
        transform: rotate(180deg);
      }
    }
  }
  .logedIn {
    display: flex;
    gap: 1rem;
    color: white;
    button {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 10px;
      border: 0px;
      background-color: #0d7377;
      color: white;
      cursor: pointer;
    }
  }
  .mobileMenuContent {
    display: flex;
    justify-content: baseline;
    gap: 2rem;
    .loginBtn {
      height: 40px;
      background-color: #0d7377;
      border: 0;
      cursor: pointer;
      width: 5rem;
      border-radius: 10px;
    }

    p {
      color: white;
      font-weight: bold;
      margin: 0.5rem 0;
      cursor: pointer;
      transition: all 0.15s ease-in;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.container {
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .leftNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
html.menuOpen,
body.menuOpen {
  overflow: hidden;
}
