$primary-color: #14ffec;

.publisherContainer {
  background-color: #0d7477;
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .publisherDiv {
    display: flex;
    gap: 2rem;
    width: 1250px;
    overflow: hidden;
    position: relative;
    bottom: calc(114px - 85px);
  }

  h2 {
    color: white;
    left: 0;
    top: -40px;
  }

  img {
    border-radius: 10px;
  }

  .titleDiv {
    width: 1250px;
    position: relative;
    top: -10px;
  }

  .firstImg {
    padding-left: 1.5rem;
  }

  .lastImg {
    padding-right: 1.5rem;
  }
  @media (max-width: 1250px) {
    .publisherDiv,
    .titleDiv {
      width: 80%;
    }
  }
}
