$gamesDiv-width: 1250px;
$gamesDiv-gap: 1.43rem;
$scrollbar-track-color: #323232;
$scrollbar-thumb-color: #212121;
$scrollbar-thumb-hover-color: #0e0d0d;

.scrollDiv {
  width: 81.5%;
  padding: 1rem;
  padding-left: 0;
  display: flex;
  gap: $gamesDiv-gap;
  max-width: $gamesDiv-width;
  align-items: center;
  height: 270px;
  overflow: auto;
  cursor: pointer;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

  &:active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    width: 0.6rem;
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
    border-radius: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 0.3rem;
    width: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-thumb-hover-color;
  }
}
