.gamesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: grab;
}

.gamesDiv {
  display: flex;
  gap: 1.43rem;
  width: 1250px;
  align-items: center;
  justify-content: center;
  height: 300px;
  max-width: 1250px; /* Adjust the height as needed */
  overflow: auto;
}

.gamesContainer:active {
  cursor: grabbing;
}

.gamesDiv::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.gamesDiv::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
}

.gamesDiv::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

.gamesDiv::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
