$slideAnim-duration: 1s;

$looper-width: 100%;

.looper {
  width: $looper-width;
  overflow: hidden;

  &__innerList {
    display: flex;
    justify-content: center;
    width: fit-content;

    &[data-animate="true"] {
      .looper__listInstance {
        animation: slideAnim linear infinite;
      }
      .looper__publisherInstance {
        animation: slideAnim linear infinite;
      }
    }
  }

  &__listInstance {
    display: flex;
    width: max-content;
    gap: 7rem;
    justify-content: space-between;
    animation: none;
  }
  &__publisherInstance {
    display: flex;
    width: max-content;
    gap: 3rem;
    justify-content: space-between;
    animation: none;
  }
}

@keyframes slideAnim {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 1250px) {
  .looper__listInstance {
    gap: 2rem;
  }
}
