$primary-color: #ffcc00;
$secondary-color: #132b51;

.navbar {
  $navbar-width: 1250px;
  $navbar-height: 60px;

  width: $navbar-width;
  height: $navbar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .searchBarDiv {
    width: 30%;
    position: relative;

    .searchBar {
      z-index: 2;
      background-color: #ffcc00;
      position: relative;
      width: 100%;
      border: none;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      min-height: 2rem;
      display: flex;
      justify-items: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .searchInput {
        background-color: #ffcc00;
        border: none;
        height: 1.5rem;
        width: 90%;
        border-radius: 20px;
        color: white;

        &:focus {
          outline: none;
        }
      }
    }

    .gameResults {
      z-index: 5;
      position: absolute;
      top: 30px;

      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #ffcc00;
      animation: all 1s forwards;
      .gameItem:hover {
        background-color: #d3aa07;
        cursor: pointer;
      }
    }
  }

  .logo {
    width: 130px;
    height: 50px;
  }

  .slotSvg {
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(15deg)
      brightness(116%) contrast(114%);
  }

  .allGamesDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (max-width: 1250px) {
      display: none;
    }
  }

  .pHover {
    color: white;
    font-weight: bold;
    transition: all 0.15s ease-in;

    &:hover {
      color: $primary-color;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .registerDiv {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 1250px) {
      display: none;
    }
  }

  .regBtn {
    border: none;
    cursor: pointer;
    background-color: $primary-color;
    width: 6rem;
    height: 2.5rem;
    border-radius: 10px;
  }

  .mobileMenu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: block;
    padding-right: 1rem;
    .menuIcon {
      color: white;
      transition: all 0.3s ease-in-out;
    }

    &.active {
      .menuIcon {
        transform: rotate(180deg);
      }
    }

    @media (min-width: 1250px) {
      display: none;
    }
  }

  .mobileMenuContent {
    background-color: $primary-color;
    padding: 1rem;
    z-index: 10;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1250px) {
      display: none;
    }

    p {
      color: white;
      font-weight: bold;
      margin: 0.5rem 0;
      cursor: pointer;
      transition: all 0.15s ease-in;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.container {
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .leftNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
html.menuOpen,
body.menuOpen {
  overflow: hidden;
}
