.scrollContainer {
  color: white;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .scrollDiv {
    width: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 270px;
    overflow: auto;
    cursor: pointer;
    scrollbar-width: thin;

    &:active {
      cursor: grabbing;
    }

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.3rem;
      width: 100px;
    }
  }
}
